<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h3 class="purple-text darken-2">REST Kitap Servisi</h3>
        <p class="lead">Kitaplar ile ilgili belirli özellikleri veren REST Servis</p>
        <a href="/books" class="waves-effect waves-light btn">Tüm Kitapları Göster</a>
        <br><br>
        <h4 class="text-grey">Kullanım</h4>
        <ul>
            <li>+ Başlığa Göre Kitap Getir:<code><a href="/books/title/Yalnız Efe">/books/title/kitap_adi</a></code></li>
            <li>+ Yazar'a Göre Listele:<code><a href="/books/author/Stefan Zweig">/books/author/yazar_adi</a></code></li>
            <li>+ Kategoriye Göre Listele:<code><a href="/books/category/Tarih">/books/category/kategori</a></code></li>
            <li>+ Dile Göre Listele:<code><a href="/books/language/Türkçe">/books/category/dil</a></code></li>
        </ul>
        <br/><br/>
        <div class="contact">
        <a href="mailto:isatoltar@gmail.com" class="#e53935 red darken-1 btn ">Mail</a>
        <a href="https://github.com/toltarisa" class="#424242 grey darken-3 btn">Github</a>
        <a href="https://twitter.com/forsakeofisa" class="#0277bd light-blue darken-3 btn">Twitter</a>
        </div>
    </div>
</body>
</html>